<div class="main-container">
  <div *ngIf="data.photoAlbumName" class="photo-container" (click)="openPhotoAlbum()">
    <img [src]="coverPhotoUrl | async">
  </div>

  <div class="info">
    <mat-list>
      <mat-list-item>
        <sm-display-pair key="Name" [value]="data.title" isTitle="true"></sm-display-pair>
      </mat-list-item>
      <mat-list-item *ngIf="data.bulgersNumber">
        <sm-display-pair key="Bulger's Number" [value]="data.bulgersNumber"></sm-display-pair>
      </mat-list-item>
      <mat-list-item>
        <sm-display-pair key="Highest Point" [value]="data.elevation + ' ft'"></sm-display-pair>
      </mat-list-item>
      <mat-list-item>
        <sm-display-pair key="Gain" [value]="data.totalGain + ' ft'"></sm-display-pair>
      </mat-list-item>
      <mat-list-item>
        <sm-display-pair key="Date Climbed" [value]="data.dateClimbed | date"></sm-display-pair>
      </mat-list-item>
    </mat-list>

    <div *ngIf="data.description" class="description">
      <p>{{data.description}}</p>
    </div>
  </div>

</div>