.navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background: #3f51b5;
    color: white;

    a {
        &:hover {
            color: white;
        }
    }
}

.spacer {
    flex: 1 1 auto;
}

.header-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.login-button {
    &:hover {
        cursor: pointer;
    }
}

.user-container {
    margin-right: 16px;
    
    .user-photo {
        border-radius: 50%;
        height: 40px;
    }
    
    .user-name {
        margin-right: 16px;
    }

    &:hover {
        cursor: pointer;
    }
}